<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="clevex - A fully responsive, HTML5 based admin theme">
	<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, clevex, web design, CSS3">
	<title>Chatshoppie | Login</title>
	<!-- Site favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="{{url_for ('static', filename='images/favicon.ico')}}">
	<!-- /site favicon -->

	<!-- Material design icons stylesheet -->
	<link href="{{url_for('static', filename='css/material-design-iconic-font.min.css')}}" rel="stylesheet">
	<!-- /material design icons stylesheet -->
	
	<!-- Owl carousel -->
	<link href="{{url_for('static',filename='css/owl.carousel.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='css/owl.theme.default.min.css')}}" rel="stylesheet">
	<!-- /owl carousel -->
	
	<!-- Bootstrap stylesheet min version -->
	<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<!-- /bootstrap stylesheet min version -->
	
	<!-- REVOLUTION STYLE SHEETS -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='rev-slider/css/settings.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='rev-slider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='rev-slider/fonts/font-awesome/css/font-awesome.css')}}">
	<!-- REVOLUTION LAYERS STYLES -->
	
	<!-- Animated Css stylesheet -->
	<link href="{{url_for('static',filename='css/animate.css')}}" rel="stylesheet">
	<!-- /animated css stylesheet -->
	
	<!-- clevex core stylesheet -->
	<link href="{{url_for('static',filename='css/clevex-core.css')}}" rel="stylesheet">
	<!-- /clevex core stylesheet -->
	
	<link href="{{url_for('static',filename='css/clevex-forms.css')}}" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body class="bg-grey lighten-4">

<!--Site-->
<div class="site">

    <!--Site header-->
   
    <!--Site main-->
    <main class="site-main">
        <section>
            <div class="container">
                <div class="section-header text-center">
                    <h2>Documentation</h2>
                    <p class="sub-heading">If you have any issue not covered here. Kindly contact the support at admin@automationspectrum.com</p>
                </div>

                <div class="m-b-40">
                    <h3>Introduction </h3>
                    <p>
                        <strong>Automation Spectrum Pty Ltd</strong> is simply dummy text of the printing and typesetting industry.
						Automation Spectrum Pty Ltd is a leading global information technology, consulting and business process services company, built on core values of Service, Commitment, Courage, Integrity and Consistency. 
						The products or services which Automation Spectrum offers harness the power of cognitive computing,robotics, cloud,Artificial Intelligence,analytics and emerging technologies and is aimed at making people’s life easy in terms of saving money and time. 
						We are committed to provide products and services of highest standards in terms of quality followed by customer satisfaction
                    </p>
                    <p>
						Automation Spectrum as the name suggest is based on cognitive computing and the first of the products delivered is Chatshoppie.com, 
						a smart chat application which answers any questions, not only identifies the choice but also suggests various options in a very friendly and professional manner.
						A platform in which the customers find it at ease to identify for example any discounts available for any product of any brand all in one place, which will assist the end user to identify and navigate to the client portal for further purchase
                    </p>

                    <ul class="categories-list">
					<h2>Problems faced by Customers Shopping Online..</h2>
                        <li>Websites are traditional way of shopping as one needs to perform 4 to 5 steps to filter, scroll and buy the desired product.</li>
                        <li>Customers usually visit several websites looking for buying products at the desired cost, size and color.</li>
                        <li>Customers are unaware of websites to visit which offers for e.g. best price to buy desired products across all major brands</li>
                        <li>Customers usually wait few seconds to minutes waiting for websites to load and get frustrated more so during festivals</li>
                        <li>“What you see is What you rarely get” in online shopping on websites, quality of product is often not up to the mark with what is presented in the pictures.</li>
                        <li>Lack of customer interaction, personalized workflows and the ability to react dynamically to customer’s request are major problems faced by customers who are into online shopping.</li>
						
                        
                    </ul>
                </div>
                <div>
                    <h3>Solution from Chatshoppie</h3>
                    <p>
							Chatshoppie is the best solution for all the problems highlighted above. 
							Chatshoppie is a customer friendly chat web application product in that customers instead of visiting several websites in search of a particular  product, can simply ask Chatshoppie what product they are looking for and Chatshoppie will not only reply to the query but also provide suggestions and alternative options based on the customer profile discovery there by saving time and money. 
							Quality product are displayed for customers who after answering few basic queries from chatshoppie will be able to view the exact product they are looking which is from authentic source.
							The data displayed in chatshoppie undergoes severe testing process which involves quality stream and zero error prone. We will be displaying the products of all the major brands who are affiliated with us not only that we also have subscription model for small to medium retail outlet who want Chatshoppie to display their products.
							Customers can further click on buy now link and further land on the client exact product page to complete the purchase.
                    </p>

                    
                </div>
            </div>
        </section>
    </main>
    <!--/site main-->
	<!--Site footer-->
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-8 col-xs-12">
					<div class="footer-wrapper">

						<div class="footer-logo">
							<a img src="http://via.placeholder.com/128x40" alt="Mouldifi" title="Mouldifi"></a>
						</div>
						<div class="site-description">
							<p> We are pleased to tell that we have been most trustworthy to our customers and thats the reason they don’t leave us</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="footer-wrapper">
						<h5 class="footer-heading">Important Links</h5>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<ul class="footer-menu">
									<li><a href="index.html" > Home</a></li>
									<li><a href="blog.html" > Blog</a></li>
								</ul>
							</div>

							<div class="col-sm-6 col-xs-12">
									<ul class="footer-menu">
										<li><a href="{{url_for('static',filename='documentation.html')}}"  >Documentation</a></li>
										<li><a href="privacy-policy.html">Privacy Policy</a></li>
									</ul>
							</div>

						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">

					<div class="footer-wrapper">

						<h4 class="footer-heading">stay tuned with latests</h4>
						<!-- build login logic here PENDING-->
						<form class="footer-form" action="components.html" method="post">
							 <div class="form-group">
								<input type="text" class="form-control" placeholder="Name">
							 </div>

							 <div class="form-group">
								 <input type="email" class="form-control" placeholder="Email">
							 </div>

							 <button type="submit" class="btn btn-white">Submit</button>
						
						</form>
					</div>
				</div>
			</div>
			<p>Copyright © 2018 All Rights Reserved</p>
		</div>

	</footer>
	<!--Site footer-->
    

</div>
<!--/site-->

<!--Load JQuery-->
	<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/jquery.waypoints.js')}}"></script>
	<script src="{{url_for('static',filename='js/functions.js')}}"></script>

</body>
</html>
