<!DOCTYPE html>
<html lang="en">


<body>
  
    <h1 style="background-color: rgb(50, 205, 50);" ><span style="color:white; text-align:center; font-size: 40px"> Chatshoppie </span><span style="color:white; text-align:center; font-size: 20px">Shopping is Chat Easy</span></h1>
   
    <p style="color:DodgerBlue;" style="font-size:600%;"> <strong>THANK YOU.."{{username}}" for Registering with us.</strong></p>

    <p> Welcome to Chatshoppie</p>

     <p> The one stop shop for all Shopping. It's as easy as Chating...</p>

    <p> Please click on the link: <a href="http://www.chatshoppie.com"><strong>Chatshoppie.com</strong></a> for easy shopping</p>

    <p> Team at Chatshoppie</p>

    <p> For any support, Please email us at <strong>support@automationspectrum.com</strong></p>
</body>
</html>
