<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="clevex - A fully responsive, HTML5 based admin theme">
	<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, clevex, web design, CSS3">
	<title>Chatshoppie-Shop Easy</title>
	<!-- Site favicon -->
	<!----link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='images/favicon.ico')}}"-->
	<!-- /site favicon -->

	<!-- Material design icons stylesheet -->
	<link href="{{url_for('static',filename='css/material-design-iconic-font.min.css')}}" rel="stylesheet">
	<!-- /material design icons stylesheet -->
	
	<!-- Owl carousel -->
	<link href="{{url_for('static',filename='css/owl.carousel.min.css')}}" rel="stylesheet">
	<link href="{{url_for('static',filename='css/owl.theme.default.min.css')}}" rel="stylesheet">
	<!-- /owl carousel -->
	
	<!-- Bootstrap stylesheet min version -->
	<link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<!-- /bootstrap stylesheet min version -->
	
	<!-- REVOLUTION STYLE SHEETS -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='rev-slider/css/settings.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='rev-slider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='rev-slider/fonts/font-awesome/css/font-awesome.css')}}">
	<!-- REVOLUTION LAYERS STYLES -->
	
	<!-- Animated Css stylesheet -->
	<link href="{{url_for('static',filename='css/animate.css')}}" rel="stylesheet">
	<!-- /animated css stylesheet -->
	
	<!-- clevex core stylesheet -->
	<link href="{{url_for('static',filename='css/clevex-core.css')}}" rel="stylesheet">
	<!-- /clevex core stylesheet -->
	
	<link href="{{url_for('static',filename='css/clevex-forms.css')}}" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>
<!--Site-->
<div class="site">
	<!--Site header-->
	<header class="site-header">		
	   <!-- START NAVBAR -->
	    <nav class="navbar navbar-default" style="background-color: #32cd32;" data-spy="affix" data-offset-top="1">
			<div class="container">	
		        <!--work on collpae nav bar is PENDING-->	
		   		
				 <!-- Brand and toggle get grouped for better mobile display -->
				 <div class="navbar-header">
											
						<button type="button" class="navbar-toggle toggle-menu collapsed" data-toggle="collapse"
						        data-target="#mobile-view" aria-expanded="false"> 
						    <span class="menu-icon"></span>
				        </button>
						<img class="rounded float-left" src ="{{url_for('static',filename='images/whitecc4.png')}}" alt="..."> 
						<img class="rounded float-center" src ="{{url_for('static',filename='images/message7.png')}}" alt="..."> 
						
						
						
				 </div>
				
			</div>  <!-- /.container-fluid -->
		</nav>  <!-- END NAVBAR -->
	</header>

<main class="site-main">										
	        <section>										
	            <div class="container">										
	            					
	                <div class="card-wrapper">										
	                    <div class="row">										
		                    <div class="col-xs-12 col-sm-4">
		  							<div class="card card-large hoverable text-center animation slideInLeft">
									   <!-- Card header -->
			                           <div class="card-header">
				                            <span class="icon-fill bg-orange darken-3">
						                        <i class="zmdi zmdi-widgets"></i>
				                            </span>
				                        </div>
				                        <!-- /card header -->

				                        <!-- Card content -->
				                        <div class="card-content">
					                       <h5 class="card-title text-uppercase">About us</h5>
					                        <p>A simple Chat application with great results, top brands and fantastic options to choose from.. Shopping was never so easy,
											   You ask and the App provides relevant answers with huge collections. 
																					   
										    </p>
				                        </div>
				                        <!-- /card content -->
			                        </div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="card card-large hoverable text-center animation zoomIn">
									<!-- Card header -->
									<div class="card-header">
										 <span class="icon-fill bg-purple darken-2">
											 <i class="zmdi zmdi-dropbox"></i>
										 </span>
									</div>
									<!-- /card header -->
									<!-- Card content -->
									<div class="card-content">
										<h5 class="card-title text-uppercase">ONE STOP SHOP</h5>
										<p>Reduces the Risk and Pain of Visiting several websites as "Chatshoppie" is "ONE STOP SHOP" for all Shopping.
											We have with us some of the "BEST BRANDS" in the business.
												</p>
									</div>
									<!-- /card content -->
								</div>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="card card-large hoverable text-center animation slideInRight">
									<!-- Card header -->
									<div class="card-header">
										<span class="icon-fill bg-green accent-4">
											<i class="zmdi zmdi-developer-board"></i>
										</span>
									</div>
									<!-- /card header -->
									<!-- Card content -->
									<div class="card-content">
										<h5 class="card-title text-uppercase">out of the box idea </h5>
										<p>No Credit Card required.Simply Chat and SHOP. Simply click on the desired brand and relevant product to experience EASY Shopping.</p>
									</div>
									<!-- /card content -->
									
								</div>

							</div>
													
	                    </div>										
	                </div>										
	            </div>										
	        </section>										
</main>
			<section class="bg-image layer" style="background-image:url()">

				<div class="container">

					<div class="banner-content">
						<div class="row">
						  <div class="animation fadeInLeft text-white">	
							<div class="col-md-6 col-md-push-6 center-block">
								<h2 class="text-yellow text-darken-1 fw-bold m-b-10">Coming Soon...</h2>
								<p class="sub-heading fw-medium">Chatshoppie(v 1.1) will include features like: <br>
										# User specific Unique Shopping cart experience <br>
										# Chatshoppie in different languages ( ex: Chinese, Spanish etc) <br>
										</p>
									
								</p>
								<div class="m-b-40">
									<p>
										
									</p>
								</div>
							</div>
							
						   </div>

							<div class="col-md-6 col-md-pull-6">
								 <div class="animation fadeInLeft text-white">
									<div class="section-header m-b-20">
										 <h2 class="text-yellow text-darken-1 fw-bold m-b-10">How it Work's</h2></h2>
										 <p class="sub-heading fw-medium"> Steps to follow to use your "Chatshoppie".
											</p>

									</div>

									<div class="m-b-40">
										<p>
											<strong>Step 1.</strong> Click on "Subscribe here" button and Register with us by only typing name and email id.<br>

											<strong>Step 2.</strong> On Subscribing, we can login to the system by clicking Signin button, only type name and email id and click Signin.<br>

											<strong>Step 3.</strong> It's easy and the Fun part is, once signed in, you only have to type 'hi' where it says "Type 'hi' to start".<br>

											<strong>Step 4.</strong> Chatshoppie starts chating to you in the form of asking you simple questions related to your SHOPPING today".<br>

											<strong>Step 5.</strong> On providing one word answers for questions like what do you want to shop for? size ? colour? you will get a list of relevant products that you are looking for from various BEST BRANDS".<br>

											<strong>Step 6.</strong> Click "BUY NOW" to buy the product of your choice with ease.

										</p>
									
									</div>

									<div class ="bottom-btn">

									    <form action="{{url_for('signup')}}" method="POST">
											
											
										    <button type="Sign In" class="btn btn-success"><strong>Subscribe here</strong></button> <br>


									    </form>

									    <form action="{{url_for('signin')}}"  method="POST">

										    <button type = "Sign In " class="btn btn-warning"> <strong>SIGN IN</strong> </button>
			   
	
									    </form>
								    </div>
									
								 </div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section>
				<div class="container">

					<div class="section-header carousel-header">
						 <h2>Our Partner Network</h2>
						 <p class="sub-heading">BEST are with us..</p>
					</div>
					<!-- Slider Logos -->
					<div class="owl-carousel works-carousel">
						<div class="item animation fadeInRight">
							<div class="thumbnails">
								<img src="{{url_for ('static',filename='images/eb3.png')}}" alt="..." class="img-responsive">
								<div class="thumbnail-overlay text-center">
									<div class="thumbnail-content">
										<h4 class="text-uppercase text-amber m-b-20"> Ebay Partner Network </h4>
										<div class="icons-wrapper">
											<a class="icon" href="javascript:void(0)">
												<i class="zmdi zmdi-link"></i>
											</a>
											<a class="icon" href="javascript:void(0)">
												<i class="zmdi zmdi-arrow-right-top"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</section>
	<!--Site footer-->
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-8 col-xs-12">
					<div class="footer-wrapper">

						<div class="footer-logo">
							<a img src="http://via.placeholder.com/128x40" alt="Mouldifi" title="Mouldifi"></a>
						</div>
						<div class="site-description">
							<p> We are pleased to tell that we have been most trustworthy to our customers and thats the reason they don’t leave us</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="footer-wrapper">
						<h5 class="footer-heading">Important Links</h5>
						<div class="row">
							

							<div class="col-sm-6 col-xs-12">
									<ul class="footer-menu">
										<!--PENDING-->
										<li><a href="/documentation/">Documentation</a></li>
										<li><a href="/privacypolicy/">Privacy Policy</a></li>
									</ul>
							</div>

						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">

					<div class="footer-wrapper">

						<h4 class="footer-heading">STAY CONNECTED:</h4><br>
						<h4 class="footer-heading">Connect on our exclusive Social Media Channels</h4>
						<!-- build login logic here PENDING-->
						<form class="footer-form" action="components.html" method="post">
							<img src="https://img.icons8.com/color/48/000000/facebook-circled.png"> <img src="https://img.icons8.com/color/48/000000/twitter.png"> <img src="https://img.icons8.com/color/48/000000/youtube-squared.png"> <img src="https://img.icons8.com/color/48/000000/linkedin.png">
						
						</form>
					</div>
				</div>
			</div>
			<p>Copyright © 2019 All Rights Reserved</p>
		</div>

	</footer>
	<!--Site footer-->

	<!--Load JQuery-->
	<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/jquery.waypoints.js')}}"></script>
	<script src="{{url_for('static',filename='js/functions.js')}}"></script>

</body>
</html>
