<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="clevex - A fully responsive, HTML5 based admin theme">
    <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, clevex, web design, CSS3">
    <title>Clevex UI-kit | Privacy Policy</title>
    <!-- Site favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.ico">
    <!-- /site favicon -->

    <!-- Material design icons stylesheet -->
    <link href="css/material-design-iconic-font.min.css" rel="stylesheet">
    <!-- /material design icons stylesheet -->

    <!-- Owl carousel -->
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <!-- /owl carousel -->

    <!-- Bootstrap stylesheet min version -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- /bootstrap stylesheet min version -->

    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="rev-slider/css/settings.css">
    <link rel="stylesheet" type="text/css" href="rev-slider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="rev-slider/fonts/font-awesome/css/font-awesome.css">
    <!-- REVOLUTION LAYERS STYLES -->

    <!-- Animated Css stylesheet -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- /animated css stylesheet -->

    <!-- clevex core stylesheet -->
    <link href="css/clevex-core.css" rel="stylesheet">
    <!-- /clevex core stylesheet -->

    <link href="css/clevex-forms.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="bg-grey lighten-4">

<!--Site-->
<div class="site">


        <main class="site-main">
                <section>
                    <div class="container">
                        <div class="section-header text-center">
                            <h2>Privacy Policy</h2>
                        </div>
                        <div>
                            <p>

                                    <strong>Privacy Policy</strong><br>

                                    Automation Spectrum Pty Ltd is committed to providing quality services to you and this policy outlines our ongoing obligations to you in respect of how we manage your Personal Information.
                                    We have adopted the Australian Privacy Principles (APPs) contained in the Privacy Act 1988 (Cth) (the Privacy Act). The NPPs govern the way in which we collect, use, disclose, store, secure and dispose of your Personal Information.
                                    A copy of the Australian Privacy Principles may be obtained from the website of The Office of the Australian Information Commissioner at www.aoic.gov.au <br>
                                    <strong>What is Personal Information and why do we collect it?</strong><br>
                                    Personal Information is information or an opinion that identifies an individual. Examples of Personal Information we collect include: names & email addresses.
                                    This Personal Information is obtained in many ways via our website <strong>www.chatshoppie.com.</strong> We don’t guarantee website links or policy of authorised third parties.
                                    We collect your Personal Information for the primary purpose of providing our services to you, providing information to our clients and marketing. We may also use your Personal Information for secondary purposes closely related to the primary purpose, in circumstances where you would reasonably expect such use or disclosure. You may unsubscribe from our mailing/marketing lists at any time by contacting us in writing.
                                    When we collect Personal Information we will, where appropriate and where possible, explain to you why we are collecting the information and how we plan to use it.<br>
                                    <strong>Sensitive Information</strong><br>
                                    Sensitive information is defined in the Privacy Act to include information or opinion about such things as an individual's racial or ethnic origin, political opinions, membership of a political association, religious or philosophical beliefs, membership of a trade union or other professional body, criminal record or health information.
                                    Sensitive information will be used by us only:<br>
                                    •	For the primary purpose for which it was obtained
                                    •	For a secondary purpose that is directly related to the primary purpose
                                    •	With your consent; or where required or authorised by law.<br>
                                    <strong>Third Parties</strong><br>
                                    Where reasonable and practicable to do so, we will collect your Personal Information only from you. However, in some circumstances we may be provided with information by third parties. In such a case we will take reasonable steps to ensure that you are made aware of the information provided to us by the third party.<br>
                                    <strong>Disclosure of Personal Information</strong><br>
                                    Your Personal Information may be disclosed in a number of circumstances including the following:
                                    •	Third parties where you consent to the use or disclosure; and
                                    •	Where required or authorised by law.<br>
                                    <strong>Security of Personal Information</strong><br>
                                    Your Personal Information is stored in a manner that reasonably protects it from misuse and loss and from unauthorized access, modification or disclosure.
                                    When your Personal Information is no longer needed for the purpose for which it was obtained, we will take reasonable steps to destroy or permanently de-identify your Personal Information. However, most of the Personal Information is or will be stored in client files which will be kept by us for a minimum of 7 years.<br>
                                    <strong>Access to your Personal Information</strong><br>
                                    You may access the Personal Information we hold about you and to update and/or correct it, subject to certain exceptions. If you wish to access your Personal Information, please contact us in writing.
                                    Automation Spectrum Pty Ltd will not charge any fee for your access request, but may charge an administrative fee for providing a copy of your Personal Information.
                                    In order to protect your Personal Information we may require identification from you before releasing the requested information.<br>
                                    <strong>Maintaining the Quality of your Personal Information</strong><br>
                                    It is an important to us that your Personal Information is up to date. We  will  take reasonable steps to make sure that your Personal Information is accurate, complete and up-to-date. If you find that the information we have is not up to date or is inaccurate, please advise us as soon as practicable so we can update our records and ensure we can continue to provide quality services to you.<br>
                                    <strong>Policy Updates</strong><br>
                                    This Policy may change from time to time and is available on our website.<br>
                                    <strong>Privacy Policy Complaints and Enquiries</strong><br>
                                    If you have any queries or complaints about our Privacy Policy please contact us at:<br>
                                    
                                    Automation Spectrum Pty Ltd<br>
                                    24 Ronald Street, Blacktown NSW 2148<br>
                                    E: admin@automationspectrum.com
                                    
                                    
                            </p>
        
                            
                        </div>
                    </div>
                </section>
            </main>
            <!--/site main-->

</div>

    <!--Site header-->
    
<!--/site-->

<!--Load JQuery-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.waypoints.js"></script>
<script src="js/functions.js"></script>

</body>
</html>
